@import '../../styles/break-points.scss';

.Vehicles {
  display: grid;
  padding: 1rem 2rem;

  .main {
    display: grid;
    gap: 1rem;
    width: 100%;
  }

  .buttonSave {   
    margin-left: auto;
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: end;
 }

  .buttonB {
    border-radius: 50px;
    height: 50px;
    width: 220px;
    background-color: #65DCC7;
    border: 0;
    color: rgb(32, 57, 49);
    font-weight: bold;
    transition: .40s;
}

.cardsSpace{
  height: 520px;
}

  @include tablet {

  }

  @include laptop {

  }

  @include desktop {

  }

  @include desktop-large {

  }
}
